In [32]:
import pandas as pd
import numpy as np
import seaborn as sns

dict_data = {'a':1,'b':2,'c':3}

sr = pd.Series(dict_data)

print(type(sr))
print()
print(sr)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [7]:
data = ('영인','2010-05-01','여',True)
sr2 = pd.Series(data, index=['이름','생년월일','성별','학생여부'])

print(sr2)
print(sr2.index)
print(sr2.values)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
Index(['이름', '생년월일', '성별', '학생여부'], dtype='object')
['영인' '2010-05-01' '여' True]

In [10]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [13]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],index = ['준서','예은'],columns=['나이','성별','학교'])
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [14]:
df.index = ['학생1','학생2']
df.columns=['연령','남녀','소속']
print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [16]:
exam_data = {'수학':[90,80,70],'영어':[89,95,98],'음악':[85,95,100],'체육':[100,90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df)

df2 =df[:]
df2.drop('우현', inplace=True)
print(df2)


df4 = df[:]
df4.drop(['우현','서준'],inplace=True)
print(df4)

df3 = df[:]
df3.drop('수학',axis=1,inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  89   85  100
우현  80  95   95   90
인아  70  98  100   90
    수학  영어   음악   체육
서준  90  89   85  100
인아  70  98  100   90
    수학  영어   음악  체육
인아  70  98  100  90
    영어   음악   체육
서준  89   85  100
우현  95   95   90
인아  98  100   90

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\User\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\User\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
exam_data = {'수학':[90,80,70],'영어':[89,95,98],'음악':[85,95,100],'체육':[100,90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현','인아'])

label1 = df.loc['서준']
print(label1)

label2 = df.iloc[0]
print(label2)

수학     90
영어     89
음악     85
체육    100
Name: 서준, dtype: int64
수학     90
영어     89
음악     85
체육    100
Name: 서준, dtype: int64

In [22]:
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,90,30]}

df = pd.DataFrame(exam_data)
df['국어']=80
print(df)

df.set_index('이름',inplace=True)
print(df)

   이름  수학  영어  국어
0  서준  90  98  80
1  우현  80  90  80
2  인아  70  30  80
    수학  영어  국어
이름
서준  90  98  80
우현  80  90  80
인아  70  30  80

In [24]:
df2 = df.sort_index(ascending=False)
print(df2)

    수학  영어  국어
이름
인아  70  30  80
우현  80  90  80
서준  90  98  80

In [26]:
df3 = df.sort_values(by='영어',ascending=False)
print(df3)

    수학  영어  국어
이름
서준  90  98  80
우현  80  90  80
인아  70  30  80

In [31]:
student1 = pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90})

print(student1)
print(student2)

sr_add = student1.add(student2, fill_value=0)
print(sr_add)
sr_sub = student1.sub(student2, fill_value=0)
sr_mul = student1.mul(student2, fill_value=0)
sr_div = student1.div(student2, fill_value=0)

result = pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],index=['덧셈','뺄셈','곱셈','나눗셈'])
result

국어     NaN
영어    80.0
수학    90.0
dtype: float64
수학    80
국어    90
dtype: int64
국어     90.0
수학    170.0
영어     80.0
dtype: float64

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

In [33]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
print(df.head())
print(type(df))

addition = df +10
print(addition.head())

print(addition)

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
<class 'pandas.core.frame.DataFrame'>
    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500
      age     fare
0    32.0  17.2500
1    48.0  81.2833
2    36.0  17.9250
3    45.0  63.1000
4    45.0  18.0500
..    ...      ...
886  37.0  23.0000
887  29.0  40.0000
888   NaN  33.4500
889  36.0  40.0000
890  42.0  17.7500

[891 rows x 2 columns]